.container{
background-color: white;
margin-left: 10%;
margin-right: 10%;
margin-top: 4%;
margin-bottom: 5%;
}

.flexBox {
    display: flex;
    flex-wrap: nowrap; /* Prevent wrapping and keep items in a single row */
    justify-content: space-between;
    align-items: center;
    margin-top: 3%;
    overflow-x: auto; /* Allow horizontal scrolling */
    white-space: nowrap; /* Ensure no line breaks */
}


.flexBox button{
    border: none;
    background: none;
}

.flexBox img{
    width:120px;
}

@media (min-width: 400px) and (max-width: 600px) {
    .container{
        margin-bottom: 18%;
    }
}